.navigation
    font-family: 'Museo Sans 500'
    &.-main-navigation
        flex: 1
        flex-grow: 5
        overflow: hidden
        >ul 
            align-items: center 
            @extend .flex
            flex-flow: row wrap 
            justify-content: space-between
            padding: 0 40px
            >li 
                color: $lightpurple
                padding: 45px 10px
                +mq(1440px, max)
                    padding-left: 0
                    padding-right: 0
                +rem('font-size', 12px)
                &::after
                    bottom: -20px
                    content: url(assets/imgs/menu-corner.png)
                    display: block
                    left: calc(50% - 29px/2)
                    line-height: 1
                    position: absolute
                    +transition(500ms)
                &:hover,
                &.-active
                    color: white
                    &::after
                        bottom: 0