.grid
    @extend .flex
    align-items: center
    flex-flow: row wrap
    +mq(1250px, max)
        flex-flow: column wrap 
    justify-content: space-between
    >div 
        flex: 1
        +mq(1250px, max)
            text-align: center
            &:not(:only-child)
                &:first-child
                    order: 2
                &:last-child
                    margin-bottom: 30px
                    order: 1
        &:only-child
            text-align: center
            width: 100%
            .grid-title
                display: inline-block   
                &+p
                    @extend .destaque
                    margin-bottom: 40px
        +mq(1251px, min)
            &:not(:only-child)
                flex: 0 0 auto 
                width: 50%
                &:nth-child(2n+1)
                    padding-right: 70px
                &:nth-child(2n+2)
                    padding-left: 70px
        img 
            display: block 
            margin: 0 auto
            max-width: 100%
    .grid-title 
        color: white
        display: block
        font-family: 'Gotham HTF'
        +rem('font-size', 35px)
        margin-bottom: 30px
        text-transform: uppercase 
        span 
            position: relative
            z-index: 2
        &::after
            animation: opacity 1s infinite ease
            content: ""
            display: inline-block 
            background-color: $lightblue
            height: 3px
            opacity: 0
            vertical-align: baseline
            width: 10px
        &+p
            display: block
            +rem(('font-size' : 14px, 'line-height' : 20px)) 
    p 
        +rem('font-size', 14px)
        font-family: 'Gotham HTF'
        font-weight: 300