.pg-home
    .pin
        &.-welcome,
        &.-future
            top: 25%
            transform: rotate(-90deg)
            transform-origin: center center
        &.-welcome
            left: 50px 
            &.-bottom 
                bottom: -25vh
                left: initial
                top: initial 
                right: 0
        &.-future
            right: 10px
    section
        margin-bottom: 50vh
        &:not(.banner)
            align-items: center 
            @extend .flex
            flex-flow: column wrap
            justify-content: center 
            height: 100vh
            &:nth-child(odd)
                .grid
                    flex-flow: row-reverse wrap
                    >div
                        &:not(:only-child)
                            &:first-child
                                padding-left: 140px
                                padding-right: 0
        &.overview
            .pin
                top: -100px
            .grid-title
                &::before
                    bottom: -35px
                    content: url(assets/imgs/square-1.png)
                    display: block
                    left: -55px
                    position: absolute 
                    z-index: 1
        &.team
            .pin
                &.-who-we-are,
                &.-team
                    top: -25vh
                    transform: rotate(-90deg)
                    transform-origin: center center
                &.-who-we-are
                    left: 130px 
                &.-team
                    right: 50px
            .grid-title
                &::before
                    bottom: -80px
                    content: url(assets/imgs/square-2.png)
                    display: block
                    left: -90px
                    position: absolute 
                    z-index: 1
        &.conversions
            .pin
                left: calc(50% - (100px/2 + 30px))
                top: -40vh
            .grid-title
                &+p~p 
                    color: $gray
                    +rem('font-size', 14px)
                    margin: 50px auto
                    max-width: 520px
                    width: 100%
                &::before
                    content: url(assets/imgs/square-3.png)
                    display: block
                    left: calc(50% - 203px/2)
                    position: absolute 
                    top: calc(50% - 203px/2)
                    z-index: 1            
        &.token-sale
            .pin
                left: 380px
                top: -40vh
            .container
                .grid
                    flex-flow: row wrap
        &.our-history
            p:not(.pin)
                color: $gray
                +rem('line-height', 25px)
                font-weight: 300
                text-align: justify
            .pin
                right: 25px
                bottom: -90px      
            .grid-title
                &::before
                    content: url(assets/imgs/square-4.png)
                    display: block
                    left: -90px
                    position: absolute 
                    top: -60px
                    z-index: 1                   