.pg-home
    #wrap 
        background-image: url(assets/imgs/BG2.jpg) 
        +mq(1024px, min)
            background-image: url(assets/imgs/footer-arch.png), url(assets/imgs/BG2.jpg)
            background-position: center bottom, center 0
            background-size: 55vw, cover
        .main
            padding-top: 40px
            +mq(1024px, min)
                padding-bottom: 15vw
        .header:not(.-sticky)
            animation: header 1.5s forwards linear
            top: -400px
            animation-delay: 100ms
            .header-footer
                .social-networks
                    animation: opacity 2.5s forwards linear  
                    opacity: 0
                    animation-delay: 2000                 
            .cotation
                opacity: 0
                animation: opacity 2.5s forwards linear 
                animation-delay: 1500ms                               
    .pin
        &.-welcome,
        &.-future
            top: 25%
            transform: rotate(-90deg)
            transform-origin: center center
        &.-welcome
            left: 50px 
            &.-bottom 
                bottom: -25vh
                left: initial
                top: initial 
                right: 0
        &.-future
            right: 10px
    section
        align-items: center 
        @extend .flex
        flex-flow: column wrap
        justify-content: center 
        min-height: 100vh
        &:not(:last-child)
            &:not(.banner)
                margin-bottom: 0
                +mq(1680px, max)
                    margin-bottom: 25vh
                +mq(1366px, max)
                    margin-bottom: 45vh
            &.banner
                +mq(1680px, max)
                    margin-bottom: 25vh
                +mq(1366px, max)
                    margin-bottom: 45vh
        .container
            padding-left: 120px
            padding-right: 120px
            +mq(1366px, max)
                padding-left: 60px
                padding-right: 60px
            +mq(737px, max)
                padding-left: 15px
                padding-right: 15px
        .grid
            >div
                +mq(1025px, min)
                    opacity: 0
                    +transition(500ms)
                +mq(1025px, min)
                    &:not(:only-child)
                        &:nth-child(2n+1)
                            left: -100vw
                        &:nth-child(2n+2)
                            right: -100vw
            &.-animated
                >div
                    opacity: 1
                    +mq(1025px, min)
                        &:not(:only-child)
                            &:nth-child(2n+1)
                                left: 0
                            &:nth-child(2n+2)
                                right: 0                
        &:nth-child(odd)
            .grid
                flex-flow: row-reverse wrap
                +mq(1250px, max)
                    flex-flow: column wrap 
                >div
                    &:not(:only-child)
                        &:first-child
                            padding-left: 70px
                            +mq(1250px, max)
                                padding-left: 0
                            padding-right: 0
                        &:last-child
                            padding-right: 70px
                            +mq(1250px, max)
                                padding-right: 0
                            padding-left: 0
        &.overview
            +mq(1024px, min)
                .container
                    padding-top: 85px
                    &::before
                        content: url(assets/imgs/overview-title-curve.png)
                        display: block 
                        position: absolute 
                        left: 8.7%
                        +mq(1440px, max)
                            left: 8.2%
                        +mq(1366px, max)
                            left: 6.2%
                        +mq(1280px, max)
                            left: 3%
                        top: -135px
                        z-index: 1  
            .pin
                top: -60px
            .grid-title
                &::before
                    bottom: -35px
                    content: url(assets/imgs/square-1.png)
                    display: block
                    left: -55px
                    position: absolute 
                    z-index: 1
        &.team
            +mq(1024px, min)
                .container
                    &::before
                        content: url(assets/imgs/overview-team-anchor-curve.png)
                        display: block
                        right: 27.5%
                        +mq(1366px, max)
                            right: 25.5%
                        +mq(1280px, max)
                            right: 25.5%
                        position: absolute
                        top: -465px
                        +mq(1366px, max)
                            top: -450px
                        +mq(1280px, max)
                            top: -475px
                        z-index: 1                  
                    >*
                        z-index: 2
            .pin
                &.-who-we-are,
                &.-team
                    top: -120px
                    transform: rotate(-90deg)
                    transform-origin: center center
                &.-who-we-are
                    left: 60px 
                &.-team
                    right: 17%
            .grid-title
                &::before
                    bottom: -80px
                    content: url(assets/imgs/square-2.png)
                    display: block
                    left: -90px
                    position: absolute 
                    z-index: 1
        &.conversions
            +mq(1024px, min)
                .container
                    padding-top: 115px
                    &::before
                        content: url(assets/imgs/conversion-team-separator.png)
                        display: block
                        left: calc(50% - 532px/2)
                        position: absolute
                        top: -280px
                        z-index: 2                    
                    &::after
                        content: url(assets/imgs/conversion-squared-bg.png)
                        display: block
                        left: calc(50% - 1919px/2)
                        position: absolute
                        top: calc(50% - 709px/2)
                        z-index: 1
                    >*
                        z-index: 3
            .pin
                left: 31.5%
                top: -140px
            .grid-title
                &+p~p 
                    color: $gray
                    +rem('font-size', 14px)
                    margin: 50px auto
                    max-width: 520px
                    width: 100%
                &::before
                    content: url(assets/imgs/square-3.png)
                    display: block
                    left: calc(50% - 203px/2)
                    position: absolute 
                    top: calc(50% - 203px/2)
                    z-index: 1            
        &.token-sale
            +mq(1024px, min)
                .container
                    &::before
                        content: url(assets/imgs/conversion-tokensale-separator.png)
                        display: block
                        left: 40%
                        position: absolute
                        top: -210px
                        z-index: 1
            .pin
                left: 39%
                top: -160px
            .container
                .grid
                    +mq(1250px, max)
                        flex-flow: column wrap
                        text-align: center
        &.our-story
            +mq(1024px, min)
                .container
                    &::before
                        content: url(assets/imgs/tokensale-story-separator.png)
                        display: block
                        left: 12%
                        position: absolute
                        top: -245px
                        z-index: 1
                        +mq(1366px, max)
                            left: 10%
                        +mq(1280px, max)
                            left: 8%
                            top: -255px
                    &::after
                        content: url(assets/imgs/our-story-side.png)
                        display: block 
                        position: absolute 
                        top: -130px
                        left: -310px
                        +mq(1280px, max)
                            top: -80px
                            left: -290px
                        z-index: 1   
            .blockquote
                p
                    color: $gray
            p
                +rem('line-height', 25px)
                font-weight: 300
                text-align: justify
                +mq(1250px, max)
                    text-align: center
            .pin
                right: 8%
                bottom: -90px   
            .grid
                >div
                    +mq(1250px, max)
                        &:first-child
                            order: 1
                            margin-bottom: 30px
                        &:last-child
                            order: 2   
            .grid-title
                &::before
                    content: url(assets/imgs/square-4.png)
                    display: block
                    left: -90px
                    position: absolute 
                    top: -105px
                    z-index: 1
        &.benefits
            +mq(1024px, min)
                .container
                    &::before
                        content: url(assets/imgs/benefits-middle.png)
                        display: block 
                        position: absolute 
                        top: -70px
                        left: 13%
                        +mq(1366px, max)
                            left: 9%
                        z-index: 1                        
            .grid
                align-items: stretch
                p 
                    +rem('font-size', 14px)   
                .grid-title
                    &::before
                        content: url(assets/imgs/square-5.png)
                        display: block
                        left: -60px
                        position: absolute 
                        top: -40px
                        z-index: 1
                    &+p
                        min-height: 41px
                        margin-bottom: 35px     
                        &~p
                            color: $gray    
            .benefits-list
                >li 
                    @extend .flex
                    flex-flow: row wrap 
                    justify-content: space-between
                    +mq(1250px, max)
                        text-align: justify
                    span
                        flex: 0 0 auto
                        width: 20px 
                        img 
                            height: auto
                            width: inherit
                    &:not(:last-child)
                        margin-bottom: 25px
                    p 
                        color: $gray
                        flex: 1 
                        padding-left: 20px
            .payouts-txt
                align-items: stretch
                +mq(1250px, max)
                    align-items: center
                @extend .flex
                flex-flow: row wrap 
                +mq(410px, max)
                    flex-flow: column wrap 
                justify-content: space-between
                >span 
                    flex: 1
                    &:first-child
                        flex: 0 0 auto 
                        width: 96px
                        +mq(410px, max)
                            margin-bottom: 30px
                            width: 100%
                    &:last-child
                        padding-left: 40px
                        +mq(1250px, max)
                            text-align: justify
                        +mq(410px, max)
                            padding-left: 0
                    
